<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE kpartgui>
<gui library="tabswitcherplugin" version="2" name="tabswitcher" translationDomain="tabswitcherplugin">
 <MenuBar>
  <Menu name="view">
   <text>&amp;View</text>
   <Action group="view_switch_tab" name="view_lru_document_next"/>
  </Menu>
 </MenuBar>
 <ActionProperties scheme="Default">
  <Action shortcut="" name="view_lru_document_next"/>
  <Action shortcut="" name="view_lru_document_prev"/>
 </ActionProperties>
</gui>
<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
